 .galleryPage {
   background: url("../Images/logoBacking2.png");
   background-size: cover;
   overflow-x: hidden;
   overflow-y: hidden;
   width: auto;
   background-repeat: no-repeat;
 }

 /* This makes our slide show reactive for smaller devices */
 @media (min-width: 320px) and (max-width: 768px) {
   .slideshow {
     margin: 0 auto;
     overflow: hidden;
     width: 375px;
     margin-top: 3%;
   border-radius: 20px;
   }
 }

 .slideshow {
   margin: 0 auto;
   overflow: hidden;
   width: 875px;
   margin-top: 3%;
 }

 .slideshowSlider {
   white-space: nowrap;
 }

 .slide {
   display: inline-block;
   height: 650px;
   width: 100%;
   border-radius: 20px;
   white-space: nowrap;
 }

 .thumbnails {
   position: relative;
   margin-top: 2%;
   padding-left: 4%;
 }

 .thumbnail {
   float: left;
   width: 7%;
   margin: 0 auto;
 }

 .demo {
   opacity: 0.6;
   height: 60px;
   border: 1px black solid;
   margin-top: 1px;
 }

 .cursor {
   cursor: pointer;
 }

 .demo:hover {
   opacity: 1;
 }

 .row:after {
   content: "";
   display: table;
   clear: both;
 }

 .logo {
   width: 300px;
 }