.title {
   color: rgb(248, 249, 250);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 25%;
   font-family: 'segoe script';
   overflow-y: hidden;
}

@media (min-width: 320px) and (max-width: 900px) {
   .name {
      font-size: 1rem;
      background: -webkit-linear-gradient(rgb(13, 125, 181), rgb(13, 125, 181), white, rgb(13, 125, 181), rgb(13, 125, 181));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
   }
}

.name {
   font-size: 8rem;
   background: -webkit-linear-gradient(rgb(13, 125, 181), rgb(13, 125, 181), white, rgb(13, 125, 181), rgb(13, 125, 181));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: 500;
   text-align: center;
}

.name2 {
   font-size: 2rem;
}

.line{
   border-bottom: solid 2px rgba(255, 255, 255, 0.833);
   width: 50%;
}