.subscribe {
  background-image: url(../Images/subscribeBack2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  width: auto;
  height: 100%;
  overflow-y: hidden;
}

.subscribeTitle{
  background: -webkit-linear-gradient(rgb(13, 125, 181), white, rgb(13, 125, 181));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  
}

.inputs[type=text],
.inputs[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #767676;
}

.inputs[type=text]:focus,
.inputs[type=password]:focus {
  background-color: #767676;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  /* margin-bottom: 25px; */
}

.button2 {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 8px;
  border-color: #04AA6D;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-top: 5%;
}

.button2:hover {
  opacity: 1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  border-color: #f44336;
  margin-top: 5%;
}

.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

.containers {
  margin: auto;
  margin-top: 6%;
  width: 500px;
  height: 660px;
  padding: 16px;
  border: 8px groove rgb(13, 125, 181);
  background-color: black;
  color: white;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {

  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

.modalBtn {
  background-color: transparent;
  border: none;
  height: 20px;

}

.modalBtn:hover {
  background-color: transparent;
  border: none;
  height: 20px;
}